In [4]:
from fin import *

/home/ouvic/Eco_Web/finlab/fin/fin.env

In [5]:
from finlab import data, login
# from token_data import token
# token = "y90Rux5imaC1eUO6RPtxpsUZ7DtJLxnD12xhfwrXYrFUz0OmMNt9qnXUSlDHcvff#free"
import os
print(os.getenv('FIN_TOKEN'))
# token = str(os.getenv('FINLAB_TOKEN'))
# print(token)
# login(token)

# rev = data.get('monthly_revenue:當月營收')
# rev

test

In [24]:
rev_ma = rev.average(2)
rev_ma

symbol,000116,000930,000960,0009A0,1101,1102,1103,1104,1107,1108,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2005-02-10,NaN,NaN,NaN,NaN,2746766.0,1094966.0,271258.0,346111.0,9910.0,386000.0,...,43190.0,729712.0,36896.0,33813.0,144783.0,99732.0,86217.0,NaN,37254.0,NaN
2005-03-10,NaN,NaN,NaN,NaN,2156429.0,879399.5,214110.0,274641.5,9144.0,285606.5,...,44047.5,729666.0,34205.5,29199.0,130117.0,76116.0,87418.0,NaN,36618.5,NaN
2005-04-11,NaN,NaN,NaN,NaN,2035374.5,816052.0,195916.0,249149.5,14836.5,278391.0,...,48088.5,737559.0,32619.0,23659.0,122758.0,88878.5,104611.5,NaN,37825.5,NaN
2005-05-10,NaN,NaN,NaN,NaN,2461522.5,922459.0,234911.0,298240.0,16532.0,372112.5,...,48914.5,621931.5,30568.5,23881.0,128902.0,105800.0,112609.0,NaN,40891.0,NaN
2005-06-10,NaN,NaN,NaN,NaN,2406308.5,905659.5,228043.0,305599.5,11831.5,357015.5,...,47850.5,539099.0,28198.0,25545.5,141788.0,82196.0,105800.0,NaN,41300.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-10,NaN,NaN,NaN,NaN,12637822.5,6047943.0,246514.0,718571.5,NaN,438110.5,...,301450.0,2564328.0,312137.0,13827.0,204554.5,413181.5,119134.0,1046092.5,54206.5,210581.0
2024-06-11,NaN,NaN,NaN,NaN,12743384.5,6073138.0,240987.0,714901.5,NaN,431226.0,...,216521.5,2515704.0,329739.0,13132.5,217586.5,456420.0,133932.0,1014135.5,57756.0,240585.0
2024-07-10,NaN,NaN,NaN,NaN,13759909.5,6649083.5,250080.5,702696.5,NaN,395187.0,...,201569.0,2363837.0,230811.5,13681.5,240933.5,451682.0,92725.0,1006386.5,56087.5,259740.5
2024-08-12,NaN,NaN,NaN,NaN,14044615.0,6780507.5,257355.5,641639.0,NaN,349816.5,...,182760.0,2329036.5,138821.0,14397.0,249944.5,429269.0,94012.5,962153.0,67559.0,222153.0
2024-09-10,NaN,NaN,NaN,NaN,13717061.0,6728286.5,262885.5,636772.5,NaN,363622.5,...,173379.0,2816491.5,119066.0,11367.5,237024.5,457373.0,100250.5,920932.5,68986.5,197371.0

In [10]:
rev_ma_max = rev_ma.rolling(12, min_periods=6).max()
print(rev_ma_max)

            000116  000930  000960  0009A0        1101       1102      1103  \
date
2005-02-10     NaN     NaN     NaN     NaN         NaN        NaN       NaN
2005-03-10     NaN     NaN     NaN     NaN         NaN        NaN       NaN
2005-04-11     NaN     NaN     NaN     NaN         NaN        NaN       NaN
2005-05-10     NaN     NaN     NaN     NaN         NaN        NaN       NaN
2005-06-10     NaN     NaN     NaN     NaN         NaN        NaN       NaN
...            ...     ...     ...     ...         ...        ...       ...
2024-07-10     NaN     NaN     NaN     NaN  13759909.5  6810992.5  271932.0
2024-08-12     NaN     NaN     NaN     NaN  14044615.0  6810992.5  269353.5
2024-09-10     NaN     NaN     NaN     NaN  14044615.0  6810992.5  269353.5
2024-10-11     NaN     NaN     NaN     NaN  14044615.0  6810992.5  269353.5
2024-11-11     NaN     NaN     NaN     NaN  14798658.0  6810992.5  269353.5

                1104  1107      1108  ...      9944       9945      9946  \
date                                  ...
2005-02-10       NaN   NaN       NaN  ...       NaN        NaN       NaN
2005-03-10       NaN   NaN       NaN  ...       NaN        NaN       NaN
2005-04-11       NaN   NaN       NaN  ...       NaN        NaN       NaN
2005-05-10       NaN   NaN       NaN  ...       NaN        NaN       NaN
2005-06-10       NaN   NaN       NaN  ...       NaN        NaN       NaN
...              ...   ...       ...  ...       ...        ...       ...
2024-07-10  760047.0   NaN  477430.5  ...  301450.0  2908399.0  329739.0
2024-08-12  760047.0   NaN  477430.5  ...  301450.0  2908399.0  329739.0
2024-09-10  760047.0   NaN  477430.5  ...  301450.0  2908399.0  329739.0
2024-10-11  760047.0   NaN  477430.5  ...  301450.0  3149824.0  329739.0
2024-11-11  760047.0   NaN  477430.5  ...  301450.0  3149824.0  329739.0

               9949      9950      9951      9955       9958     9960  \
date
2005-02-10      NaN       NaN       NaN       NaN        NaN      NaN
2005-03-10      NaN       NaN       NaN       NaN        NaN      NaN
2005-04-11      NaN       NaN       NaN       NaN        NaN      NaN
2005-05-10      NaN       NaN       NaN       NaN        NaN      NaN
2005-06-10      NaN       NaN       NaN       NaN        NaN      NaN
...             ...       ...       ...       ...        ...      ...
2024-07-10  20330.0  280738.5  505964.5  133932.0  1841016.5  86431.5
2024-08-12  20330.0  280738.5  505964.5  133932.0  1841016.5  86431.5
2024-09-10  20330.0  280738.5  505964.5  133932.0  1841016.5  86431.5
2024-10-11  20330.0  261286.5  505964.5  133932.0  1841016.5  86431.5
2024-11-11  20330.0  249944.5  505964.5  133932.0  1841016.5  86431.5

                9962
date
2005-02-10       NaN
2005-03-10       NaN
2005-04-11       NaN
2005-05-10       NaN
2005-06-10       NaN
...              ...
2024-07-10  353932.0
2024-08-12  353932.0
2024-09-10  353932.0
2024-10-11  353932.0
2024-11-11  353932.0

[238 rows x 2175 columns]

In [26]:
cond1 = rev_ma == rev_ma_max
cond1

symbol,000116,000930,000960,0009A0,1101,1102,1103,1104,1107,1108,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2005-02-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2005-03-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2005-04-11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2005-05-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2005-06-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-10,False,False,False,False,True,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
2024-06-11,False,False,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,True,False,False,False
2024-07-10,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2024-08-12,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2024-09-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [3]:
from fin import *
net_revenue = get_data(dataname="monthly:net_revenue")
net_revenue_2ma = net_revenue.rolling(2).mean()
net_revenue_2ma_max = net_revenue_2ma.rolling(12, min_periods=6).max()
net_revenue_2ma == net_revenue_2ma_max

/home/ouvic/Eco_Web/finlab/fin/api_client/api_connector.py:267: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  monthly_revenue = pd.DataFrame(res['data'], index=res['time']).replace('', np.nan)

,000116,000930,000960,0009A0,1101,1102,1103,1104,1107,1108,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2005-02-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2005-03-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2005-04-11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2005-05-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2005-06-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-10,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2024-08-12,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2024-09-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2024-10-11,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2024-11-11,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [4]:
from fin import *
rev_ma = sma(dataname="monthly:net_revenue", periods=2)
rev_ma

,000116,000930,000960,0009A0,1101,1102,1103,1104,1107,1108,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2005-02-10,NaN,NaN,NaN,NaN,2746766.0,1094966.0,271258.0,346111.0,9910.0,386000.0,...,43190.0,729712.0,36896.0,33813.0,144783.0,99732.0,86217.0,NaN,37254.0,NaN
2005-03-10,NaN,NaN,NaN,NaN,2156429.0,879399.5,214110.0,274641.5,9144.0,285606.5,...,44047.5,729666.0,34205.5,29199.0,130117.0,76116.0,87418.0,NaN,36618.5,NaN
2005-04-11,NaN,NaN,NaN,NaN,2035374.5,816052.0,195916.0,249149.5,14836.5,278391.0,...,48088.5,737559.0,32619.0,23659.0,122758.0,88878.5,104611.5,NaN,37825.5,NaN
2005-05-10,NaN,NaN,NaN,NaN,2461522.5,922459.0,234911.0,298240.0,16532.0,372112.5,...,48914.5,621931.5,30568.5,23881.0,128902.0,105800.0,112609.0,NaN,40891.0,NaN
2005-06-10,NaN,NaN,NaN,NaN,2406308.5,905659.5,228043.0,305599.5,11831.5,357015.5,...,47850.5,539099.0,28198.0,25545.5,141788.0,82196.0,105800.0,NaN,41300.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-10,NaN,NaN,NaN,NaN,13759909.5,6649083.5,250080.5,702696.5,NaN,395187.0,...,201569.0,2363837.0,230811.5,13681.5,240933.5,451682.0,92725.0,1006386.5,56087.5,259740.5
2024-08-12,NaN,NaN,NaN,NaN,14044615.0,6780507.5,257355.5,641639.0,NaN,349816.5,...,182760.0,2329036.5,138821.0,14397.0,249944.5,429269.0,94012.5,962153.0,67559.0,222153.0
2024-09-10,NaN,NaN,NaN,NaN,13717061.0,6728286.5,262885.5,636772.5,NaN,363622.5,...,173379.0,2816491.5,119066.0,11367.5,237024.5,457373.0,100250.5,920932.5,68986.5,197371.0
2024-10-11,NaN,NaN,NaN,NaN,13164842.0,6615345.0,258676.0,625893.0,NaN,399968.5,...,159887.5,3149824.0,52030.0,9794.0,236484.0,460571.0,92616.0,974148.0,57870.0,190115.5
2024-11-11,NaN,NaN,NaN,NaN,14798658.0,6534717.0,239186.5,620592.0,NaN,407692.0,...,146172.5,2624752.5,16355.0,13890.5,197647.0,490914.5,93674.0,1031101.0,61042.5,182627.0

In [5]:
rev_ma_max = rev_ma.maximum(12, min_periods=6)
rev_ma_max

,000116,000930,000960,0009A0,1101,1102,1103,1104,1107,1108,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2005-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-04-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-05-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-10,NaN,NaN,NaN,NaN,13759909.5,6810992.5,271932.0,760047.0,NaN,477430.5,...,301450.0,2908399.0,329739.0,20330.0,280738.5,505964.5,133932.0,1841016.5,86431.5,353932.0
2024-08-12,NaN,NaN,NaN,NaN,14044615.0,6810992.5,269353.5,760047.0,NaN,477430.5,...,301450.0,2908399.0,329739.0,20330.0,280738.5,505964.5,133932.0,1841016.5,86431.5,353932.0
2024-09-10,NaN,NaN,NaN,NaN,14044615.0,6810992.5,269353.5,760047.0,NaN,477430.5,...,301450.0,2908399.0,329739.0,20330.0,280738.5,505964.5,133932.0,1841016.5,86431.5,353932.0
2024-10-11,NaN,NaN,NaN,NaN,14044615.0,6810992.5,269353.5,760047.0,NaN,477430.5,...,301450.0,3149824.0,329739.0,20330.0,261286.5,505964.5,133932.0,1841016.5,86431.5,353932.0
2024-11-11,NaN,NaN,NaN,NaN,14798658.0,6810992.5,269353.5,760047.0,NaN,477430.5,...,301450.0,3149824.0,329739.0,20330.0,249944.5,505964.5,133932.0,1841016.5,86431.5,353932.0

In [6]:
from fin import *

# 近2月平均營收創12個月來新高
revenue_average_new_high(check_num=12, period=2)

,000116,000930,000960,0009A0,1101,1102,1103,1104,1107,1108,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2005-02-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2005-03-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2005-04-11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2005-05-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2005-06-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-10,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2024-08-12,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2024-09-10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2024-10-11,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2024-11-11,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
@type_limit
def function_name(parameter_name1:parameter_name1_type,
                   parameter_name2:parameter_name2_type) -> FinlabDataFrames:
    if check_parameter_limit:
        return ValueError("warrning")
    instantiated_filter_class = filter_class()
    return instantiated_filter_class.run_algorithm(parameter_name1=parameter_name1,
                                                    parameter_name2=parameter_name2)

NameError: name 'parameter_name1_type' is not defined

In [ ]:
class NewLOW(FilterDataAnalysisBase):
    '''內部變數定義初始值'''
    close = None

    def __init__(self):
        FilterDataAnalysisBase.__init__(self)

    def _get_data(self):
        '''使用data_manager抓取資料'''
        self.close = raw_data_manager.get_fin_quotes(dataname='close')

    def run_algorithm(self, periods:int):
        '''運行選股條件邏輯'''
        self._get_data()
        signal = '''選股條件邏輯'''
        return signal

In [ ]:
@type_limit
def function_name(parameter_name1:parameter_name1_type,
                   parameter_name2:parameter_name2_type) -> FinlabDataFrames:
    if check_parameter_limit:
        return ValueError("warrning")
    return """抓data_manager提供個資料"""

In [ ]:
@type_limit
def close_new_low(periods:int) -> FinlabDataFrames:
    if periods >= 0:
        return ValueError("warrning")
    new_low = NewLOW()
    return new_low.run_algorithm(periods=periods)